/*make inline display block so you can add height to it*/
* {
  box-sizing: border-box;
}
@font-face {
    font-family: 'gilroysemibold';
    src: url('radomir_tinkov_-_gilroy-semibold-webfont.woff2') format('woff2'),
         url('radomir_tinkov_-_gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  .clearfix:after {
  content:" ";
  display:table;
  clear:both;
}
body {
  margin: 0px;
}
#calltoaction {
  background-image: url("calltoactionbackground.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 400px;
  padding-bottom: 100px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
  text-align: center;
  width: 100%;
}

#functions {
  background-color: #FFFFFF;
  display: inline block;
  height: 1500px;
  margin: 0px;
  padding-bottom: 100px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
  width: 100%;
}
#functions p {
  color: #62CE9C;
}
h1 {
  color: #FFFFFF;
  font-family: 'gilroysemibold';
  font-size: 36px;
  font-weight: normal;
}
h2 {
  color: #62CE9C;
  font-family: 'gilroysemibold';
  font-size: 30px;
  font-weight: normal;
}
h3 {
  color: #62CE9C;
  font-family: Open Sans;
  font-size: 18px;
}
.hashtag {
  color: #28C787;
}
#hero {
  background-color: #62CE9C;
  display: inline-block;
  height: 600px;
  margin: 0px;
  padding-bottom: 100px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
  width: 100%;
}
#herotext {
  float: left;
}
#hero img {
  float: left;
}
p {
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 18px;
}
#savefoodimage {
  float: right;
}
#savefoodtext {
  float: right;
  height: 300px;
  width: 290px; 
}
#savemoneyimage {
  float: left;
}
#savemoneytext {
  float: left;
  height: 300px;
  width: 330px;
}
#savetimeimage {
  float: left;
}
#savetimetext {
  float: left;
  height: 300px;
  width: 330px;
}
#searchbar {
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  height: 40px;
  padding-left: 10px;
  width: 300px;
}
#searchbutton {
  background-color: #28C787;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 18px;
  height: 40px;
  width: 180px;
}
#searchbutton:hover {
  background-color: #00BE8B;
}
#tweetone {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 108px;
  margin: auto;
  width: 750px;
}
#tweetone img {
  float: left;
}
#tweetonetext {
  float: left;
}
#tweettwo {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 108px;
  margin: auto;
  width: 750px;
}
#tweetthree {
  background-color: #FFFFFF;
  border-radius: 25px;
  height: 108px;
  margin: auto;
  width: 750px;
}
ul {
  list-style-type: none;
}
#vocational {
  background-color: #62CE9C;
  display: inline-block;
  height: 900px;
  padding-bottom: 100px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
  width: 100%;
}
#vocational h1 {
  text-align: center;
}
#vocational p {
  color: #62CE9C;
  display: inline-block;
  margin-left: 20px;
}