main p{
    font-family: 'Open Sans', sans-serif;
}

.intro {
    color: #006621;
}

.backto {
    color: #1A0DAB;
}

.backto:visited {
    color: #660099;
}

.date {
    color: #808080;
}

.desc {
    color: #6A6A6A;
}

.selected {
    color: #4285F4;
    font-weight: bold;
    border-bottom: solid 5px;
}

input[type="text"] {
    width: 630px;
    height: 40px;
    border: solid 1px #D9D9D9;
}

.button_add {
    background-color: #4285F4;
    background-repeat: no-repeat;  
    background-position: 0px 0px;  
    border: none;           
    cursor: pointer;        
    height: 43px;           
    width: 43px;
    vertical-align: middle; 
}

/*.button_add:hover {
    background-color: hover: #3B78E7;
}*/

ol a {
    text-decoration: none;    
}

ol a:hover {
    text-decoration: underline;
}

main a{
    color: #1A0DAB;
}

main a:visited {
    color: #660099;
}

nav li, footer li {
    display: inline;
    padding: 10px;
}

main {
    color: #222;
    line-height: 22px;
}

main p {
    font-size: 15px;
}

nav li a, footer li a {
     text-decoration: none;
     color: #545454;
}

nav li a:hover{
    color: #222222;
} 

    footer li a:hover {
    color: #222222 ;
}

footer, li {
    font-family: Arial;
}

h3 {
    font-weight: normal;
    font-family: Arial;
    font-size: 20px;
    margin: 1.4px;
}

p {
    margin: 1.4px;
}