* {
    box-sizing: border-box;
}
align {
    margin: 0px;
}
aside {
    background-color: white;
    border: solid 2px #EBEBEB;
    float: right;
    width: 358px;  
}
aside h1 {
    color: #222;
    font-family: Arial;
    font-size: 30px;
    font-weight: Normal;
    padding-bottom: -4px;
    padding-top: -2px;
}
aside h4 {
    color: #777;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 2px;
}
aside p {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}
aside p a {
    color: #1A0DAB;
    text-decoration: none;
}
aside p a:hover {
    text-decoration: underline;
}
aside p a:visited {
    color: #660099;
}
#bio {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
body {
    margin: 0px;
}
.button_add {
    background-color: #4285F4;
    background-position: 0px 0px; 
    background-repeat: no-repeat;  
    border: none;           
    cursor: pointer;        
    height: 43px;           
    vertical-align: middle;
    width: 43px;
}
.clearfix {
    overflow: auto;
}
.date {
    color: #808080;
}
.desc {
    color: #545454;
}
#footer {
    background-color: #F1F1F1;
    border-top: solid 1px #E5E5E5;
    float: left;
    height: 20%;
    padding-left: 75px;
    padding-top: 20px;
    width: 100%;
}
footer, li {
    font-family: Arial;
}
footer li a:hover {
    color: #222222;
}
footer p {
    padding-left: 48px;
}
footer p a {
    color: #1A0DAB;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}
footer p a:visited {
    color: #660099;
}
#form {
    float: left;
}
h3 {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    margin: 1.4px;
}
#headbar {
    background-color: #F1F1F1;
    border-bottom: solid 1px #E5E5E5;
    float: left;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
}
#imageone {
    display: inline-block;
    /*margin: -1px;*/
    width: 40%;
}
#imagetwo {
    display: inline-block;
    /*margin: -2px;*/
    width: 40%;
}
input[type="submit"]{
    background: url(https://s3.amazonaws.com/pratt-web-2/google_mag_glass.png) no-repeat 12px;
    background-color: #4285f4;
    background-size: 18px;
    border: none;
    display: inline-block;
    height: 40px;
    width: 40px;
}
input[type="text"] {
    border: solid 1px #D9D9D9;
    color: #006621;
    height: 40px;
    width: 630px;
}
.location {
    color: #aaa;
}
#lougle {
    float: left;
    height: 38px;
    padding-right: 20px;
    width: 109px;
}
main {
    color: #222;
    float: left;
    line-height: 22px;
    width: 64%;
}
main a{
    color: #1A0DAB;
}
main a:visited {
    color: #660099;
}
main p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
#mainbody {
    margin-left: 85px;
}
nav li, footer li {
    display: inline;
    padding: 10px;
}
nav li a, footer li a {
     color: #545454;
     text-decoration: none;
}
nav li a:hover{
    color: #222222;
}
#navigation {
    padding-top: 60px;
    width: 100%;
}
ol {
    list-style-type: none;
}
ol a {
    text-decoration: none;    
}
ol a:hover {
    text-decoration: underline;
}
p {
    margin: 1.4px;
}
#profilephoto {
    border-radius: 50%;
    float: right;
    height: 40px;
    width: 40px;
}
.results {
    color: #808080;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-top: 5px;
}
#searchbar {
   float: left;
}
#searchbutton {
    float: left;
}
.selected {
    border-bottom: solid 4px;
    color: #4285F4;
    font-weight: bold;
    padding-bottom: 24px;
}
.selected a {
    color: #4285F4;
}
.selected a:hover {
    color: #4285F4;
}
#sidebar{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
}
.subject {
    font-family: Arial;
    font-weight: bold;
}