ol a {
    text-decoration: none;    
}

ol a:hover {
    text-decoration: underline;
}

nav li, footer li {
    display: inline;
    padding: 10px;
}

nav li a, footer li a {
     text-decoration: none;
     color: #000
}

nav li a:hover{
    color: #437;
} 

    footer li a:hover {
    color: #437;
}



